<%= render "shared/header" %>


<div class="contents row">
  <% @spots.each do |spot| %>
    <div class="content_post">
      <p><%= spot.description %></p>
    </div>
  <% end %>
</div>

  <div class='song-btn1'>
    <a href="/spots/new">
      曲を登録する
    </a>
  </div>
<%= render "shared/footer" %>
