<%= render "shared/header" %>

  <% if user_signed_in? %>
    <%# <% if @spot.user_id == current_user.id %> %>
      <%= link_to '投稿の編集', edit_spot_path, method: :get, class: "spot-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', spot_path, method: :delete, class:'spot-destroy',data: {confirm: "本当に削除しますか？"}  %>
    <%# <% end %> %>
  <% end %>

<%= render "shared/footer" %>
