// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contents {
  margin: 30px auto 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 80px;
}

.d-flex{
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 20px;
}



// .card-deck {
//   width: 85%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   margin: 0 auto;
// }